.login {

    height: 100vh;
    background-color: rgba(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        display: flex;
        background-color: white;
        width: 50%;
        border-radius: 1rem;
        min-height: 500px;
        overflow: hidden;

        .left {
            flex: 1;
            background:linear-gradient(rgba(11, 96, 39 , 0.5), rgba(39, 11, 96, 0.5)),  url("https://st4.depositphotos.com/13201226/30953/i/600/depositphotos_309534608-stock-photo-data-protected-with-blue-force.jpg") center;

            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;
            h1 {
                font-size: 100px;
                line-height: 100px;
            }

            p {}

            span {
                font-size: 14px;
            }

            button {
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color: rebeccapurple;
                cursor: pointer;
                font-weight: bold;
            }
        }

        .right {
            padding: 50px;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 50px;
            align-items: center;
            justify-content: center;

            h1 {
                color: gray;
            }

            form {
                gap: 30px;
                display: flex;
                flex-direction: column;
               
            
                input {
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }

                button {
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #938cef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }



        }
    }
}