@import "../../style.scss";
.home{



    
@include themify($themes){
    background-color: themed("bgSoft");
    padding: 20px 70px;

    @include mobile{
        padding: 10px 20px;
        padding-left: 40px;
       
    }
}
}
